<li class="collection-item avatar">
    <img ng-src="{{$ctrl.item.menu_item[0].image}}" alt="" class="circle">
    <span class="title order-list-title">{{$ctrl.item.menu_item[0].title}}</span>

    <br>

    <div class="chip">
        {{ $ctrl.translate($ctrl.item.status) }}
    </div>

    <timer order="$ctrl.item"></timer>

    <div ng-if="$ctrl.item.status == 'troubles'">
        <a class="waves-effect waves-light btn" ng-click="$ctrl.troubles('no')">Отменить заказ</a>
        <a class="waves-effect waves-light btn" ng-click="$ctrl.troubles('yes')">Повторить заказ со скидкой 5%</a>
    </div>
</li>