<form class="col s12 login-form" name="loginForm">
    <div class="col m6">
        <div class="input-field col s12">
            <input id="name" type="text" ng-model="$ctrl.name">
            <label for="name">Имя</label>
        </div>
        <div class="input-field col s12">
            <input id="email" name="email" type="email" class="validate" ng-model="$ctrl.email" required>
            <label for="email">Email</label>
        </div>

        <a id="loginButton" class="waves-effect waves-light btn" ng-click="$ctrl.doAuth()" ng-if="loginForm.email.$valid">войти</a>
    </div>


</form>
